/* 共有 */
.comWidth{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}
.leftArea{
    float: left;
}
.rightArea{
    float: right;
}
.hide{
    display: none;
}
.show{
    display: block;
}

/* topBar  头部欢迎部分*/
.topBar{
    height: 31px;
    background-color: #F7F7F7;
    line-height: 31px;
}
.collection{
    background: url(../images/icon/collection.jpg) left  center  no-repeat; 
    padding-left: 19px;
    font-weight: bold;
}
.topBar a:hover{color: red;}

/* logoBar  头部logo部分*/
.logoBar{
    height: 85px;
    background-color: #1D7AD9;
}
.logo{
    padding-left: 41px;
    padding-top: 14px;
}
/* search_box   头部logo中间搜索部分*/
.search_box{
    width:430px;
    padding-top: 23px;
    padding-left: 185px;
}
/* .search_text{
    width:350px;
    height: 14px;
    line-height: 14px;
    padding: 11px 5px 10px;
    background: #fff;       处理IE浏览器
} */
.search_text{
    width:350px;
    height: 35px;
    line-height: 35px\9;   /*css hack    \9表示所有的ie浏览器*/
    padding: 0 5px;
    background: #fff;
}
.search_btn{
    width:70px;
    height: 35px;
    font-size: 14px;
    font-family: "Microsoft YaHei","微软雅黑";
    background-color:#FF8C00;
    color: #FFFFFF;
}
/* shapCar  头部logo右边购物车部分*/
.shapCar{
    width: 145px;
    height: 35px;
    background-color:#FF8C00;
    margin-top: 23px;
    margin-right:59px; 
    font:14px/35px  "Microsoft YaHei","微软雅黑";
    color: #FFFFFF;
    display: inline;  /*处理右浮动右margin双边距bug*/
}
.shopText{
    width:87px;
    height: 100%;
    /* font-size: 14px;
    font-family: "Microsoft YaHei","微软雅黑";
    line-height: 35px; */
    border-right: #E27A00 solid  1px;
    background:url(../images/icon/shapcar.jpg)  10px center  no-repeat;
    text-indent: 40px;    /*利用文字缩进*/
}
.shopNum{
    width:27px;
    border-right: #FF9C01 solid  1px;
    background:url(../images/icon/sj.jpg)  33px center  no-repeat;
    text-align: right;
    padding-right: 29px;
}
/* navBox   头部导航部分*/
.navBox{
    height: 35px;
    background-color: #1369C0;
    color: #fff;
}
.shopClass{
    width: 190px;
    position: relative;
    /* text-align: center;
    line-height: 35px; */   /*放在此处会有隐患，影响后面布局效果*/
}
.shopClass  h3{
    text-align: center;
    line-height: 35px;
}
.shopClass i{
    width:11px;
    height: 7px;
    overflow: hidden;  /*要这个不是很明白*/
    background: url(../images/icon/jt.jpg) left  center no-repeat;
    display: inline-block;
    margin-left: 11px;
}
.nav .shopClass h3{
    font-family: "Microsoft YaHei","微软雅黑";
}
.nav{
    line-height: 35px;
}
.nav li{
    float: left;
}
.nav li a{
    height: 35px;
    padding: 0 35px;
    color: #fff;
    display: inline-block;
}
.nav .active{
    background-color: #4593FD;
}
/* 商品弹出列表 */
.shopClass_show{
    background-color: #4593FD;
    padding-bottom: 1px;   /*IE6   轮播图与左边显示区不齐处理办法*/
    /* position: absolute;
    left:0;
    top:35px;
    width:100%; */
}
.shopClass_item{
    padding: 13px 10px;   /*轮播图与左边显示区不齐处理办法*/
    border-bottom: #3487F2  solid 1px;
    border-top:#5AA1FE  solid  1px;
    line-height: 16px;   /*轮播图与左边显示区不齐处理办法*/
}
.shopClass_item dt{
    height: 21px;    /*轮播图与左边显示区不齐处理办法*/
    line-height: 1;  /*IE6  轮播图与左边显示区不齐处理办法*/
    overflow: hidden;  /*IE6  轮播图与左边显示区不齐处理办法*/
    background: url(../images/icon/jy.jpg) right  center  no-repeat;
}
.shopClass_item  .b{ 
    /* font-family: "Microsoft YaHei","微软雅黑";
    font-size: 14px;
    font-weight: bold; */
    font: 14px/1  "Microsoft YaHei","微软雅黑";
}
.shopClass_item a{
    color: #fff;
}
.shopClass_item a:hover{
    text-decoration: underline;
}
.shopClass_item .aLink{
    width:48px;
    height: 20px;
    background: url(../images/icon/dt.png) left  center  no-repeat;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    text-decoration: underline;
}
/* shopClass_item active  状态 */
.shopClass_active{
    background-color: #fff;
    border-left: 1px solid  
}
.shopClass_active dt{
    background: none;
}
.shopClass_active a{
    color: #000;
}
.shopClass_active .aLink{
    color: #fff;
    text-decoration: none;
}
/* shopClass_list  弹出的菜单 */
.shopClass_list{
    width:568px;
    /* height: 378px; */
    border: 1px solid  #DDDDDD;
    position: absolute;
    left:190px;
    top:35px;
}
.shopClass_cont{
    padding: 0 20px;
}
.shopList_item{
    padding: 10px 0;
    border-bottom: 1px solid #E5E5E5;
}
.shopList_item dt{
    color: #4B88DA;
    font-weight: bold;
    line-height: 24px;
    /* height: 24px;  */
}
.shopList_item dd{   /* 设置不明白*/
    padding-left: 68px;
    line-height: 24px;
    margin-top:-24px;
}
.shopList_item dd a{
    margin-right: 12px;
}
.shopList_links{
    /* margin-top: 15px; */
    padding: 15px 0;
}
.shopList_links a{
    background-color: #2785E6;
    color:#fff;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    display: inline-block;
    padding: 0 14px 0 8px;
    margin-right: 10px;
}

.shopList_links a span{
    width: 11px;
    height: 7px;
    background: url(../images/icon/jy.jpg) left  center no-repeat;
    display: inline-block;
    margin-left: 7px;
}

/* banner   轮播图 */
/* 轮播图通用部分 */
.banner{
    margin-bottom: 15px;
}
.banner_bar{
    float: right;
    position: relative;
    overflow: hidden;
}
.imgBox{
    position: absolute;
    left: 0;
    top: 0; /*定位之后必须设置x,y轴*/
}
.imgBox li{
    float: left;
}
.imgBox  img{
    display: block;
}
.imgNum{
    position: absolute;
    left: 0;
    bottom:15px; 
    width: 100%;
    text-align: center;
}
.imgNum  a{
    width:20px;
    height: 5px;
    overflow: hidden;  /*不要可以呀，不明白*/
    background-color: #fff;
    display: inline-block;
    margin: 0  3px;
}
.imgNum .active{
    background-color: #FF7700;
}
/* 轮播图 001 */
.banner_big , .banner_big  img{
    width:810px;
    height: 326px;
}
.banner_big .imgBox{
    width:1620px;
    height: 326px;
}

/* 轮播图 002 */
.banner_sm , .banner_sm  img{
    width:190px;
    height: 400px;
}
.banner_sm .imgBox{
    width:380px;
    height: 400px;
}
/* 内容部分 */
.shopTit{
    height: 44px;
    font-family: "Microsoft YaHei","微软雅黑";
    line-height: 44px;
    margin-bottom: 15px;
}
.shopTit h3{
    font-size: 24px;
    float: left;
    font-weight: normal;
    padding-left: 15px;
}
.shopTit .icon{
    height: 44px;
    width: 44px;
    background: url(../images/icon/icontm.jpg) left  center no-repeat;
    float: left;
}
.more{
    float: right;
    font-family: "宋体";
}
.more:hover{
    text-decoration: underline;
}
/* shopList 商品列表*/
.shopList .leftArea{
    width:190px;
}
.shopList .rightArea{
    width:808px;
    border: #999 solid  1px;
    border-bottom: #FF7201 solid 3px;
    height: 396px;
    overflow: hidden;
}
 /* 商品列表-右侧  */
 .shopList_top,shopItem_sm{
     margin-right: -4px;
 }
 .shop_item{
     width:202px;
     border-right: #999 solid 1px;
     border-bottom: #999 solid 1px;
     height: 279px;
     text-align: center;
     font-family: "Microsoft YaHei","微软雅黑";
     float: left;
 }
 .shop_img{
     height: 218px;
 }
 .shop_img  img{
    width: 100%;
    height: 218px;
    display: block;
 }
 .shop_item  h3{
     font-size: 16px;
 }
 .shop_item  p{
    font-size: 14px;
    color: #FF7300;
    line-height: 21px;
 }
 /* 商品列表 小 */
 .shopItem_sm{
     width: 202px;
     border-right: #999 solid 1px;
     height: 110px;
     float: left;
     padding-top: 6px;
 }
 .shopItem_smImg{
     width:95px;
     height: 95px;
     text-align: center; 
     float: left;
 }
 .shopItem_smImg img{
    width:95px;
    height: 95px;
 }
 .shopItem_text {
     padding-top:28px;
     width:100px;
     float: left;
 }
 .shopItem_text p{
     color: #FF7300;
 }
 .shopItem_text  h3{
    font-size: 16px;
    font-family: "Microsoft YaHei","微软雅黑";
    font-weight: normal;
    color: #181818;
 }
 /* footer */
 .footer{
     text-align: center;
     background-color: #D4D4D4;
     padding:50px 0;
     color: #181818;
     line-height: 24px;
 }
 .footer  i{ 
    font-style:normal;
    margin:0 5px;
}
 .footer a{
    color: #000;
 }
 .footer a:hover{
    color: #F60 ;
 }
 .web{
     padding-top:30px;
 }
 .web img{
    margin: 0 12px;
 }
 .hr_25{
     height: 25px;
 }
 .hr_7{
     height: 7px;
     overflow: hidden;
 }
 .hr_15{
    height: 15px;
    overflow: hidden;
}

 /* 产品分类 */
 .products .leftArea{
     width:185px;
 }
 .products .rightArea{
    width:810px;
}
.products .banner_bar{
    float: none;
}
.products .item{
    width:25%;
    *width:24.9%;
    margin-bottom: 10px;
}
/* 产品分类导航 */
.leftNav{
    background-color:#F3F3F3;
    border:#D7D7D7 solid 1px;
}
.nav_title{
    height: 34px;
    line-height: 34px;
    font-size:14px;
    border-bottom:#D7D7D7 solid 1px;
    text-align: center;
}
.nav_cont{
    padding: 0 18px 4px;
    border-bottom:#D7D7D7 dotted 1px;
    margin-bottom: -1px;
}
.nav_cont h3{
    font-size:12px;
    height:30px;
    line-height: 30px;
}
.navCont_list{
    line-height:25px;
}
.navCont_list li{
    float: left;
    width:50%;
}
.Vertical li{
    width:auto;
    float: none;
    padding-left: 8px;
}
.Vertical .nav_title,
.Vertical .nav_cont  h3{
    font-family: "Microsoft YaHei","微软雅黑";
    font-size:14px;
}

.clearfix:after {
    content:'';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.clearfix{
    zoom:1;
}
/* 标题 */
.products_title{
    height: 34px;
    border-bottom:#CCCCCC solid 2px;
}
.products_title h3{
    width:180px;
    border-bottom:#096DBA  solid 2px;
    height: 34px;
    line-height: 34px;
    text-indent:9px;
    margin-bottom: -2px;
    position: relative;
}
/* 商品 */
.item{
    float: left;
    height: 265px;;
}
.item_cont{
    padding: 0 15px;
}
.img_item{
    height: 170px;
    text-align: center;
}
.img_item img{
    height: 170px;
}
.item p{
    line-height: 20px;
}
.item a{
    color:#000;
}
.item a:hover{
    text-decoration: underline;
}
.money{
    color:#D4105A;
    font-weight: bold;
    padding-top:10px;
}
.stars{
    width:13px;
    height:12px;
    overflow: hidden;
    background:url(../images/icon/collection.jpg)  left top no-repeat;
    display: inline-block;
    margin-right: 1px;

}
/* 筛选 */
.screening{
    border-bottom: #ccc solid 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.screening dt{
    line-height: 32px;
    width:74px;
    text-align: right;
    float: left;
    margin-right:42px;
}
.limit{
    width:55px;
    float: left;
    line-height: 32px;
}
.screening .active{
    background-color:#1D7AD9;
    color:#FFF;
}
.screening a{
    padding:2px;
}
.screening_list{
    line-height: 32px;
    width:626px;float: left;
}
.screening_list li{
    width:20%;
    float: left;
}
.screen_more{
    border:#CCC solid 1px;
    height: 23px;
    line-height: 23px;
    margin-top:4px;
    float:left;
    padding-right: 11px;
    padding-left: 11px;
    margin-right: 10px;
}
.screen_more a{
    background: url(../images/icon/hsj.jpg) right center no-repeat;
    padding-right: 14px;
}
.addInfo{
    height: 31px;
    border: #ccc solid 1px;
    background-color: #F5F5F5;
}
.address{
    float: left;
}
.add_text{
    float: left;
    line-height: 31px;
    padding-left: 12px;
    padding-right: 6px;

} 
.addInfo .select{
    margin-top:4px;
}
.screen_text{
    line-height: 31px;
    padding-right: 80px;
}
.check{
    position: relative;
    top:-1px;
}
.check input,
.check label{
    vertical-align: middle;
}
.shop_number em{
    color:#F00;
    font-style: normal;
    font-weight: bold;
}
.screen_text span{
    vertical-align: middle;
}
.addCar{
    border:#999 solid 1px;
    height: 22px;
    display: inline-block;
    padding:0 6px 0 23px;
    background:url(../images/icon/car.jpg) 6px center no-repeat;
}
.screening_list_more{
    padding-left: 0.5px;
}
.screening_list_more .item{
    width:33.3%;
}

/* page */
.page{
    text-align: center;
    position: relative;
    z-index: 2;
}
.page a{
    height: 24px;
    display: inline-block;
    line-height: 24px;
    border: #CCC solid 1px;
    padding: 0 12px;
    margin:0 2px;
}
.page .hl{
    display: inline-block;
    padding: 0 12px;
    margin: 0 2px;
}
.morePage{
    padding-left: 14px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
}
.pageNum{
    width:29px;
    padding: 0 3px;
    border: #ccc solid 1px;
    height: 24px;
    line-height: 24px\9;
    text-align: center;
    margin-left: 4px;
}
.page_btn{
    width:44px;
    height: 24px;
    line-height: 24px;
    background-color: #E8E8E8;
    border: #ccc solid 1px;
}
.ye{padding: 0 8px 0 6px}
.page a,
.page span,
.page input{vertical-align: middle;position: relative;}
/* 组件 */
.select{
    border: #999 solid 1px;
    height: 22px;
    line-height: 22px;
    float: left;
    background-color: #FFF;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
    z-index: 4;
}
.select h3{
    font-size: 12px;
    font-weight: normal;
}
.select span{
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    width:20px;
    background: url(../images/icon/sj_blue.jpg) center center no-repeat;
}
.show_select{
    position: absolute;
    left: -1px;
    top:22px;
    background-color: #FFF;
    width:100%;
    border:#999 solid 1px;
    display: none;
}
.show_select li{
    padding-left: 10px;
}
/* 商品介绍 */
.gery{
    background-color: #F0F0F0;
}
/* 位置 */
.userPosition{
    font-size: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    margin-bottom: 15px;
}
.userPosition em,
.userPosition span,
.userPosition strong,
.userPosition a{font-size: 12px;}
.userPosition em{font-style: normal}
.userPosition a:hover{text-decoration: underline}
.description_info{background-color: #FFF;}
.description{border:#CCC solid 1px;}
.description .leftArea{width:309px;}
.description .rightArea{width:688px; border-left: #ccc solid 1px}
/* 图片展示 */
.description_imgs .big{height: 340px;text-align: center; padding-top: 8px;}
.des_smimg{padding-left:1px;width:265px;margin:0 auto;}
.des_smimg li{float: left; margin-left: -1px;}
.des_smimg img{border:#CCC solid 1px;}
.des_smimg .active{border-color:#317EE7;position: relative;}
.des_content{padding: 8px;}
.des_content_tit{font:bold 16px/22px "Microsoft YaHei","微软雅黑";padding:13px 25px;}
.des_content .dl{margin-bottom: 10px;}
.des_content .dt{width:75px;float: left;color:#666;text-indent: 17px; line-height: 25px;}
.des_content .dd{padding-left:75px; *padding-left:0;}
.des_money{font-size: 18px;color:#F30;font-family:Verdana, Geneva, Tahoma, sans-serif;}
.des_money em{font-style: normal;font-size: 12px;}
/* 换购 */
.hg{padding-top: 4px; display: inline-block;}
.hg_icon{width:55px;height: 18px;display: inline-block;background:url(../images/icon/hg_icon.jpg) left top no-repeat;color:#FFF;font-style: normal;text-indent: 16px;line-height: 18px;margin-right: 10px;}
/* 送货 */
.des_position{background-color: #F2F2F2;padding:15px 0;}
.theGoods{line-height: 24px; padding-left: 10px;}
.des_content .colorSelect{line-height: 35px;}
.des_item{color:#666;padding:9px 10px;border:#CCC solid 1px;float: left;background-color: #FFF;margin-right: 10px;}
.des_item_acitve{border-color:#317EE7;color:#333;}
.des_item_sm{padding:3px 7px;margin-bottom: 8px;}
.des_content .des_select_more{line-height: 55px;}
/* 数量 */
.des_number{border: #B2B2B2 solid 1px;height: 32px;width:82px;float: left;}
.des_number div{height: 100%;float: left;}
.reductiom ,.plus{width:15px;background: url(../images/icon/plus_bg.jpg) left top no-repeat;line-height: 32px;text-align: center;color: #333;}
.plus{border-left: #ccc solid 1px;}
.des_input{width:42px;background:url(../images/icon/des_input_bg.jpg) left top no-repeat;padding:0 4px;}
.des_input input{width:100%;height: 100%; line-height: 32px\9;text-align: center;}
.xg{line-height: 32px;float: left; padding-left: 10px;font-weight: bold;color:#656565;}
.xg em{color:#FB7700;font-style: normal;}
/*  */
.des_select{font-weight: bold;margin:22px 0 12px;text-indent: 17px;}
.des_select span{color:#0479C9;}
.shop_buy{text-align: center;}
.gm_btn{display: inline-block;width:184px;height: 48px;}
.shopping_btn{background: url(../images/icon/shop_btn.jpg) left top no-repeat;}
.buy_btn{background: url(../images/icon/purchase_btn.jpg) left top no-repeat;}
.line{width:1px;height: 90px; overflow: hidden;background-color: #CCC;display: inline-block; margin:0 40px;}
.line,.shopping_btn,.buy_btn{vertical-align: middle;}
.notes{color: #CCC;text-indent: 17px;}
/* 产品介绍 */
.des_info .leftArea{width:190px;}
.des_info .rightArea{width:790px;}
.recommend{border:#CCC solid 1px; background-color: #FFF; padding-bottom: 15px;}
.recommend .tit{height: 39px; border-bottom: solid 1px #ccc;line-height: 39px;text-indent: 15px;font-size: 14px;background-color: #F3F3F3;}
.recommend .item{float: none; height: auto;}
.recommend .money{padding-top:0}
/* 详细介绍 */
.des_infoContent{border: #CCC solid 1px; background-color: #FFF;}
.des_tit{height: 39px;border-bottom: #CCC solid 1px;}
.des_tit li{}
.des_tit .active{}
.des_tit span{}
